.App {
  text-align: center;
}

.img {
  width : 100%;
}

.name {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  color: white;
}

.projectCard {
  box-shadow: 9px 8px 20px 0px  !important;
  margin : 10px !important;
}

/* #projects {
  background-color: red;
} */


.iconImg2 {
  width : 3%;
    padding-left: 1%;
}
.iconImg3 {
  width : 3.5%;
  padding-left: 1%;
}
